@import url(../../../commons/bootstrap/css/bootstrap.min.css);
:host {
    width: 100%;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    display: none;
}

.navbar-toggler {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px 8px 0 0;
    border: none;
    color: #fff;
}