<psk-page title="psk-floating-menu">
    <psk-tag>
        <psk-floating-menu>
        </psk-floating-menu>
    </psk-tag>


    <psk-toc title="PSK - Floating Menu "></psk-toc>

    <psk-description>
        <p>This component is providing the application navigation in a Floating Menu style.</p>
    </psk-description>

    <psk-property-descriptor title="Supported properties">
        <psk-floating-menu data-define-props="true">
        </psk-floating-menu>
    </psk-property-descriptor>

    <psk-chapther title="Floating Menu code example">
        <psk-tag>
            <psk-floating-menu opened="true" menuItems="[{
                    'name': 'Feedback List',
                    'icon': 'fa-cog',
                    'path': 'list-feedbacks',
                    'pageSrc': 'Components/psk-list-feedbacks/index.html'
                }]">
            </psk-floating-menu>
        </psk-tag>
    </psk-chapther>
</psk-page>