<psk-page title="psk-app-router">
    <psk-tag>
        <psk-app-router>
        </psk-app-router>
    </psk-tag>

    <psk-toc title="PSK - Application Router"></psk-toc>

    <psk-description>
        <p>This component is in charge with the routing of the application using a simple
            <code><i>configuration JSON file</i></code>.</p>
    </psk-description>
    <psk-chapter title="Supported properties">
        <psk-app-router data-define-props={true} />
        
    </psk-chapter>
    <psk-chapter title="Event Description">
        <psk-app-router data-define-events={true} />
    </psk-chapter>
    <psk-chapter title="Code Examples">
        <psk-tag>
            <psk-app-router historyType="browser" menuItems="[{
                ' name': 'Home' , 'path' : '/home' , 'icon' : 'fa-home' , 'type' : 'route' , 'component' : 'app-home'
                , 'exact' : true },{ 'name' : 'PSK Components' , 'path' : '/psk-components' , 'icon' : 'fa-bars' , 'type'
                : 'abstract' , 'children' : [{ 'name' : 'App Menu' , 'path' : '/psk-components/app-menu' , 'component'
                : 'app-menu-usage' , 'icon' : 'fa-bars' , 'type' : 'route' , 'exact' : true }] }]" />
        </psk-tag>
    </psk-chapter>
</psk-page>