* {
  outline: none !important;
}

:host {
  scroll-behavior: smooth;
}

a,
*:hover,
a:active {
  outline: none !important;
  text-decoration: none !important;
}

h1 span a,
h2 span a,
h3 span a,
h4 span a,
h5 span a,
h6 span a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

span {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

span:hover {
  opacity: 1;
}

span {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

:host {
  display: block;
  font-family: nunito;
}

div>.mark,
div>.mark:visited {
  color: #707070;
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: .5rem;
  font-size: 150%;
}

div>.mark:hover,
div>.mark:focus,
div>.mark:active {
  color: #43853d;
  background: none;
}

psk-chapter psk-chapter .mark {
  visibility: hidden;
  opacity: 0;
}

#tooltip {
  display: inline !important;
  color: #fff;
  cursor: pointer;
}

#tooltip:hover .tooltip {
  opacity: 1;
  background-color: #224abe;
}

.tooltip {
  margin-top: 10px;
  margin-right: 35px;
  padding: 6px 12px;
  color: rgba(255, 255, 255, .7);
  font-size: 11px;
  border-radius: 4px;
}

.tooltip.copied {
  color: rgba(255, 255, 255, 1);
}

.tooltip:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 0px;
  border-width: 5px;
  margin-top: -5px;
  border-style: solid;
  border-color: transparent transparent transparent #224abe;
}
