<psk-page title="psk-ui-loader">
    <psk-tag>
        <psk-ui-loader>
        </psk-ui-loader>
    </psk-tag>
</psk-page>

<psk-toc title="PSK User Interface Loader" />

<psk-description>
    <p>This component is intended to be used when an action is running in background (e.g. an API call) and we need to
        render the result of the action inside the page.</p>
    <p>This component should be instantiated only once per application, so it can be easily controlled by an Application
        Controller.</p>
    <p>By default, the loader will be hidden.</p>
</psk-description>

<psk-chapter title="Supported Properties">
    <psk-ui-loader data-define-props="true"></psk-ui-loader>
</psk-chapter>

<psk-chapter title="HTML Children">
    <p>This component has no HTML children.</p>
</psk-chapter>

<psk-chapter title="Code Example">
    <psk-tag>
        <psk-ui-loader shouldBeRendered="true" />
    </psk-tag>
</psk-chapter>