@import url("../../assets/fonts/font-awesome.min.css");
@import url("../../assets/bootstrap/css/bootstrap.min.css");
* {
    outline: none !important;
}
.psk-card ul,
.psk-card ol
{
 padding-top:16px;
 padding-bottom: 16px;
}

.psk-card ol{
    counter-reset: li;
    list-style-type: none;
}

 ol li::before{
    content: counter(li) ". "; 
    counter-increment: li;
    color:#4C71DE;
    font-weight: bold; 
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem; 
    text-align: right; 
    direction: rtl;
}
