@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css");

.table-of-content ul li {
    list-style: none;
    cursor: pointer;
    text-decoration: none !important;
    padding-top:5px;
}

.table-of-content ul li ul li {
    font-style: italic;
    font-weight: 300;
    color:#4C71DE;
}

.table-of-content ul li ul li ul li {
    font-size: 90%;
    color:#4C71DE;
}

.table-of-content ul li:hover{
    font-weight: 400;
}

.table-of-content ul li:first-of-type::before{
    font-family:"FontAwesome";
    content:"\f0a4";
    color:#354F9B;
    font-size: 1rem;
    margin-left:-21px; 
    padding-right: 5px;
   
}




