* {
  outline: none !important;
}

:host {
  scroll-behavior: smooth;
}

.btn-link,
.btn-link:focus,
.btn-link:active,
.btn-link:hover {
  padding: 0;
  text-decoration: none;
}

.btn-link.invalid-url:hover,
.btn-link.invalid-url:focus,
.btn-link.invalid-url:active {
  color: #999;
  cursor: initial;
  text-decoration: none;
  transition: color .5s ease-in;
}


:host {
  display: block;
  font-family: nunito;
}
