.card.psk-card,
.image_container {
    background: none;
    border: none;
    padding:30px 20px 10px;
} 

.image_wrapper{
    padding: 10px 20px 0;
}

/** first level*/

.psk-card .card-header{
    background: none;
    border-bottom: none;   
    padding: 10px 20px 0;
}
.psk-card .card-header h5 {
    font-size:1.3125rem;
    font-weight: bold;
    color:#5E7FE1;
    margin:0;
}
.psk-card h1{
    color:#354F9B;
    font-size:2.3125rem;
    font-weight: bold;
}

/** second level*/

 .psk-card .psk-card .card-header h5{
    color:#565656;
    font-weight: bold;
    font-size: 1rem;
} 


.psk-card .card-body{
    padding:10px 20px 0;
    line-height: 1.6;
    font-size: 1rem;
}

.psk-card .card-body div{
    padding-top:16px;
}

.psk-card p.subtitle {
    color:#008A64;
    margin-top: -10px;
}

/* Note coponent rules for b tag / b-tag needs to be replaced*/
/* .psk-card b{
    border:1px solid #4C71DE;
    padding:10px;
    font-weight: 400;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
}

.psk-card b::before{
    content: "";
    background-color: #4C71DE;
    width: 30px;
    height: auto;
    margin: -10px 10px -10px -10px;
} */

/* toc  */
.table-of-content{
    width:20rem;
    position: fixed;
    right:0;
    top:150px;
}

.table-of-content .psk-card .card-body,
.table-of-content .psk-card .card-header
{
 padding-left:0;
 padding-right: 40px;
}

.table-of-content .psk-card{
    padding:0;
}

.table-of-content .card-header h5{
    font-weight: bold;
    font-size:1.125rem;
    color:#354F9B;
    border-bottom: 2px solid #354F9B;
    padding-bottom:8px;
}

.table-of-content .card-body span
{
    font-size: 1rem;
    color:#4C71DE;
}

.table-of-content .card-body span:hover{
    font-weight: 600;
}


/* code tag */
.psk-card .card-body p code,
.psk-card .card-body ul code,
.psk-card .card-body .psk-description code {
    color:#008A64;
    font-size:100%;
    padding:0 3px;
}

/* list style */

.psk-card ul,
.psk-card ol
{
 padding-top:16px;
 padding-bottom: 16px;
}

.psk-card ol{
    counter-reset: li;
    list-style-type: none;
}

 ol li::before{
    content: counter(li) ". "; 
    counter-increment: li;
    color:#4C71DE;
    font-weight: bold; 
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem; 
    text-align: right; 
    direction: rtl;
}

/* buttons */
.btn.btn-primary{   
    background-color: #4C71DE;
    border-style:none;
    box-shadow: rgba(76, 113, 222, 0.35) 0px 18px 25px -12px;
    padding: 8px 16px;
}

.btn.btn-primary:focus,
.btn.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #354F9B;
    border-style:none;
}

.btn.btn-primary:hover{
    background-color: #5E7FE1;
    border-style:none;
}