.card.psk-card {
    background: none;
    border: none;
    padding-left:20px;
    padding-right:20px;
} 


/** first level*/

.psk-card .card-header{
    background: none;
    border-bottom: none;   
    padding-bottom: 0;
}
.psk-card .card-header h5 {
    font-size:1.3125rem;
    font-weight: bold;
    color:#5E7FE1;
    margin:0;
}

/** second level*/

 .psk-card .psk-card .card-header h5{
    color:#565656;
    font-weight: bold;
    font-size: 1rem;
} 


/** more than two levels*/

 .psk-card .psk-card .psk-card .card-header {
    font-size: 1rem;
}


.psk-card .card-body{
    padding:10px 20px 20px 20px;
    line-height: 1.6;
    font-size: 1rem;
}

.psk-card p.subtitle {
    color:#008A64;
    margin-top: -10px;
}

/* Note coponent rules for b tag */
.psk-card b{
    border:1px solid #4C71DE;
    padding:10px;
    font-weight: 400;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
}

.psk-card b::before{
    content: "";
    background-color: #4C71DE;
    width: 30px;
    height: auto;
    margin: -10px 10px -10px -10px;
}

/* toc  */
.table-of-content{
    width:20rem;
    position: fixed;
    right:0;
}

.table-of-content .psk-card .card-body,
.table-of-content .psk-card .card-header
{
 padding-left:0;
 padding-right: 40px;
}

.table-of-content .psk-card{
    padding:0;
}

.table-of-content .card-header h5{
    font-weight: bold;
    color:#354F9B;
    border-bottom: 2px solid #354F9B;
    padding-bottom:8px;
}

.table-of-content .card-body span
{
    font-size: 16px;
    font-weight: bold;
    color:#4C71DE;
}

