.card.psk-card,
.image_container,
.psk-description {
    background: none;
    border: none;
    padding: 20px 0px 10px;
}

.card.psk-card .psk-description {
    padding: 0;
}

.psk-card p {
    margin: 0;
    padding: 0.5rem 0;
}

.psk-card p,
.psk-card li,
.psk-card .card-body {
    text-align: justify;
}

.card.psk-card .card.psk-card {
    padding: 0.5rem 0;
}


/** first level*/

.psk-card .card-header {
    background: none;
    border-bottom: none;
    padding: 0.5rem 0px;
}

.psk-card .card-header h5 {
    font-size: 1.266rem;
    font-weight: bold;
    color: #5E7FE1;
    margin: 0;
}

.psk-card h1 {
    color: #354F9B;
    font-size: 1.424rem;
    font-weight: bold;
}


/** second level*/

.psk-card .psk-card .card-header {
    padding: 0.5rem 0 0;
}

.psk-card .psk-card .card-header h5 {
    color: #565656;
    font-weight: 500;
    font-size: 1.125rem;
}

.psk-card .card-body {
    padding: 0.5rem 0px 0px;
    line-height: 1.6;
    font-size: 1rem;
}

.psk-card .card-body div {
    padding-top: 0.5rem;
}

.psk-card p.subtitle {
    color: #008A64;
}


/* Note coponent rules for b tag / b-tag needs to be replaced*/


/* .psk-card b{
    border:1px solid #4C71DE;
    padding:10px;
    font-weight: 400;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
}

.psk-card b::before{
    content: "";
    background-color: #4C71DE;
    width: 30px;
    height: auto;
    margin: -10px 10px -10px -10px;
} */


/* toc  */

.table-of-content {
    width: 20rem;
    position: fixed;
    right: 0;
    top: 125px;
    height: 80vh;
    overflow: auto;
    scrollbar-width: none;
}

.table-of-content::-webkit-scrollbar {
    display: none;
}

.table-of-content .psk-card .card-body,
.table-of-content .psk-card .card-header {
    padding-left: 0;
    padding-right: 40px;
}

.table-of-content .psk-card {
    padding: 0;
}

.table-of-content .psk-card .card-header h5 {
    font-weight: bold;
    font-size: 1.125rem;
    color: #354F9B;
    border-bottom: 2px solid #354F9B;
    padding-bottom: 0.5rem;
}

.table-of-content .card-body span {
    font-size: 1rem;
    color: #4C71DE;
}

.table-of-content .card-body span:hover {
    color: #0029b4;
}

.psk-card .table-of-content {
    position: static;
}

.table-of-content .card-body ul li {
    text-align: left;
}


/* code tag */

.psk-card .card-body p code,
.psk-card .card-body ul code,
.psk-card .card-body .psk-description code {
    color: #008A64;
    font-size: 100%;
    padding: 0 3px;
}


/* list style */

.psk-card ul,
.psk-card ol {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

.psk-card ol {
    counter-reset: li;
    list-style-type: none;
}

ol li::before {
    content: counter(li) ". ";
    counter-increment: li;
    color: #4C71DE;
    font-weight: bold;
    width: 1rem;
    margin-left: -1.5rem;
    margin-right: 0.5rem;
    text-align: right;
    direction: rtl;
}

.psk-card li {
    padding: 0.5rem 0 0;
}

.psk-card li li {
    padding: 0px;
}


/* buttons */

.btn.btn-primary {
    background-color: #4C71DE;
    border-style: none;
    box-shadow: rgba(76, 113, 222, 0.35) 0px 18px 25px -12px;
    padding: 8px 16px;
}

.btn.btn-primary:focus,
.btn.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #354F9B;
    border-style: none;
}

.btn.btn-primary:hover {
    background-color: #5E7FE1;
    border-style: none;
}


/* page not-available */

.psk-card#not-available .card-header h5 {
    font-size: 1.802rem;
    color: #F44336;
    font-weight: bold;
    text-align: center;
}

.psk-card#not-available .card-body {
    font-size: 1.266rem;
    text-align: center;
}

.psk-card#not-available {
    position: relative;
    left: 10rem;
    background-image: url('/themes/newlook/components/psk-card/404.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: top;
    padding-top: 130px;
    margin-top: 5rem;
}

@media(max-width:960px) {
    .table-of-content {
        position: static;
        margin: 0 auto;
        padding-bottom: 0;
        height: auto;
    }
    .table-of-content .card-body span {
        font-size: 0.875rem;
    }
    .table-of-content .psk-card ul {
        margin: 0;
        padding-bottom: 0;
    }
    .card.psk-card,
    .image_container,
    .psk-description {
        padding: 20px 5px 5px;
    }
    /** first level*/
    .psk-card .card-header {
        padding: 5px 0px;
    }
    .psk-card .card-header h5 {
        font-size: 1.125rem;
    }
    .psk-card h1 {
        font-size: 1.3125rem;
    }
    /** second level*/
    .psk-card .psk-card .card-header h5 {
        font-size: 0.875rem;
        font-weight: bold;
    }
    .psk-card .card-body {
        padding: 5px 0px;
        font-size: 0.875rem;
    }
    .psk-card .card-body div {
        padding-top: 0.5rem;
    }
    .psk-card#not-available {
        left: 0;
    }
    .psk-card#not-available .card-header h5 {
        font-size: 1.266rem;
    }
    .psk-card#not-available .card-body {
        font-size: 1rem;
    }
}