<psk-page title="psk-attachments-list">
    <psk-tag>
        <psk-attachments-list>
        </psk-attachments-list>
    </psk-tag>

    <psk-toc title="PSK - Attachments List"></psk-toc>

    <psk-description>
        <p>This component is intended to display a list of files with the possibility to download them.</p>
    </psk-description>

    <psk-chapter title="Supported Properties">
        <psk-attachments-list data-define-props="true" />
    </psk-chapter>

    <psk-chapter title="HTML Children">
        <p>This component has no HTML children.</p>
    </psk-chapter>

    <psk-chapter title="Code Examples">
        <psk-tag>
            <psk-attachments-list files="{name: file.txt , size: 5000, type: plain/text"/>
        </psk-tag>
    </psk-chapter>
</psk-page>