<psk-page title="app-menu">

  <psk-tag>
    <app-menu>
    </app-menu>
  </psk-tag>

  <psk-example>
    <header style="background: #005cbf;">
      <app-menu>
      </app-menu>
    </header>
  </psk-example>

  <psk-toc title="PSK Application Menu"></psk-toc>

  <psk-description>
    <p>This component is providing the app navigation.</p>
    <p> It can change itself to a hamburger menu when the width of the
      page is smaller than a given property.</p>
  </psk-description>

  <psk-property-descriptor title="Supported properties">
    <app-menu data-define-props="true">
    </app-menu>
  </psk-property-descriptor>

  <psk-event-descriptor title="Event Description">
    <app-menu data-define-events="true">
    </app-menu>
  </psk-event-descriptor>

  <psk-chapter title="HTML Children">
    <p>This component has no HTML children.</p>
  </psk-chapter>

  <psk-chapter title="Code Example">
    <psk-tag>
      <app-menu />
    </psk-tag>
  </psk-chapter>

</psk-page>